---
import config from "@/config/config.json" assert { type: "json" };
const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
const basePath = (import.meta.env.BASE_URL || '/').replace(/\/?$/, '');

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;

const theme_switcher = config.settings.theme_switcher;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href={siteTitleHref} class="navbar-brand inline-flex items-center gap-2 no-underline">
  {
    src || srcDarkmode || logo || logo_darkmode ? (
      <>
        <img
          src={`${basePath}${src ? src : logo}`}
          class={`inline-block rounded-full ${theme_switcher && "dark:hidden"}`}
          alt={title}
          style={{
            height: logo_height.replace("px", "") + "px",
            width: logo_width.replace("px", "") + "px",
            objectFit: "cover",
          }}
        />

        {theme_switcher && (
          <img
            src={`${basePath}${srcDarkmode ? srcDarkmode : logo_darkmode}`}
            class={`hidden dark:inline-block rounded-full`}
            alt={title}
            style={{
              height: logo_height.replace("px", "") + "px",
              width: logo_width.replace("px", "") + "px",
              objectFit: "cover",
            }}
          />
        )}
        <span class="font-semibold logo-text">{logo_text || siteTitle || title}</span>
      </>
    ) : logo_text ? (
      logo_text
    ) : (
      siteTitle || title
    )
  }</a
>

<style>
  .navbar-brand {
    text-decoration: none !important;
  }
  
  .navbar-brand:hover {
    text-decoration: none !important;
  }
  
  .logo-text {
    color: #2d76fe;
  }
</style>
